/* GLOBAL */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  background: url(img/bg.png) fixed center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.main-page {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hover-rotate {
  overflow: hidden;
  min-width: 340px;
  max-width: 450px;
  width: 100%;
}

.hover-rotate img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
}

.hover-rotate:hover img {
  transform: scale(1.03) rotate(5deg);
}
.wrapper-container {
  width: 100%;
  background-color: #0984e3 !important;
  height: 100vh;
}
.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.wrapper span{
  position: absolute;
  top:75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left:15%;
}



.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom:20px;
}

/* NAVIGATION */
.nav-logo a {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav .nav-center a {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:18px;
  box-shadow: inset 0 0 0 0 #0984e3;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding:10px;
}

.nav-socials a {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:18px;
  box-shadow: inset 0 0 0 0 #0984e3;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding:10px;
  border-radius: 30px;
}

.nav-center a:hover, .nav-socials a:hover {
  color: #fff;
  transition: 0.3s ease-in;
  box-shadow: inset 200px 0 0 0 #0984e3;
}

.nav-socials i {
  font-size:28px;
  position: relative;
  top:3px;
}

.nav-socials li:last-child {
  padding-right:0;
}

/* PAGE CONTAINER */
.page-container {
  margin: auto;
  width:90%;
  padding-top:20px;
}

.bg-top-image img {
  width:100%;
  object-fit: cover;
  display: block;
}

/* SPLASH */
.splash-container {
  padding: 60px 0;
}

.splash-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.splash-left {
  padding-right:100px;
}

.splash-header h1 {
  font-size: 2.8rem;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.splash-text {
  font-size: 18px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 10px 0 40px 0;
  color:#ffffff
}

.bym {
  color: #00aae7;
  text-decoration: none;
}

.bym:hover {
  color: #00aae750;
}

.splash-button-container {
  display: flex;
  flex-direction: row;
}

.splash-button {
  padding-right:20px;
}

.splash-button-link a {
  text-decoration: none;
  padding: 15px 35px; 
  background-color: #2f2f2f; 
  color: #fff; 
  text-transform: uppercase; 
  text-decoration: none; 
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-radius: 5px; 
  font-size: 14px;
  width:100%;
  text-align: center;
}

.splash-button-link a:hover {
  background-color: #2f2f2f50;
}

.splash-button-text {
  color:#0984e3;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.splash-button-secondary-link a {
  text-decoration: none;
  padding: 15px 35px; 
  background-color: #0984e3; 
  color: #fff; 
  text-transform: uppercase; 
  text-decoration: none; 
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-radius: 5px; 
  font-size: 14px;
  width:100%;
  text-align: center;
}

.splash-button-secondary-link a:hover {
  background-color: #0984e350;
}

.splash-button-secondary-text {
  color:#ffffff;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 0.5em;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  display: block;
  border-radius: 0.5em;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.projects-container {
  padding: 0 0 20px 0;
}

.projects-container-bg {
  background-color: #0984e3;
}

.projects-header h1 {
  color:#ffffff;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size:7rem;
  text-align: center;
  letter-spacing: 6px;
}

.projects-intro-text p {
  color: #ffffff;
  text-align: center;
}

.project-window {
  padding-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-box-inner {
  margin:auto;
}

.project-box {
  padding:10px;
}

.project-box-header h2 {
  text-align: center;
  padding-bottom:20px;
  text-transform: uppercase;
  color: #ffffff;
}

.project-box-header a {
  text-decoration: none;
  color: #ffffff;
}

.project-box-img {
  display: flex;
  justify-content: center;
}

.project-box-img img {
  border-radius: 8px 8px 0 0;
  width:400px;
  display: block;
}

.project-box-button {
  display: flex;
  justify-content: center;
}

.project-box-button a {
  text-decoration: none;
  padding: 15px 35px; 
  background-color: #2f2f2f; 
  color: #fff; 
  text-transform: uppercase; 
  text-decoration: none; 
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-radius: 0 0 5px 5px; 
  font-size: 12px;
  width:400px;
  text-align: center;
}

.skills-container {
  padding: 0 0 20px 0;
}

.skills-container-bg {
  background-color: #ffffff;
}

.skills-header h1 {
  color:#0984e3;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size:7rem;
  text-align: center;
  letter-spacing: 6px;
}

.skills-languages-container {
  padding-bottom:40px;
}

.skills-languages-header h1 {
  color:#0984e3;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size:3rem;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom:20px;
}

.skills-languages {
  display: flex;
  justify-content: center;
}

.skills-languages-item {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:200px;
}

.skills-languages-item img {
  width: 48px;
}


.skills-languages-item h2 {
  font-size: 14px;
  text-align:center;
  padding-bottom:20px;
}

.skills-everyday-container {
  padding-bottom:40px;
}

.skills-everyday-header h1 {
  color:#0984e3;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size:3rem;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom:20px;
}

.skills-languages {
  display: flex;
  justify-content: center;
}

.skills-everyday-item {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:200px;
}

.skills-everyday-item img {
  width: 48px;
}

.skills-everyday-item h2 {
  font-size: 14px;
  text-align:center;
  padding-bottom:20px;
}

.contact-container {
  padding-bottom:40px;
}


.contact-header h1 {
  color:#ffffff;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size:7rem;
  text-align: center;
  letter-spacing: 6px;
}
.contact-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-form input {
  margin:10px 0;
  padding:15px 30px;
  text-align: center;
  border-radius: 0.5em;
  border: #ffffff;
}

.contact-form label {
  color:#ffffff;
  font-size:22px;
}

.form-row input {
  width: 250px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-group {
  padding-right:20px;
}

.form-group:last-child {
  padding-right:0px;
}

.form-messagearea textarea {
  width:100%;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size:12px;
  vertical-align: middle;
  padding: 30px 0;
  border-radius: 0.5em;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  position: relative;
  right:5px;
  top:10px;
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: '•';
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: .25;
  color: #ffffff;
}

.slick-active button:before {
  color:#ffffff !important;
  opacity: 1 !important;
}